ul {
list-style-type: none;
}
li {
float: left;
display: inline;
background-color:red;
margin: 0px 10px;
border:solid;
}
li>a {
text-decoration:none;
color:white;
padding:5px 10px;
border:solid;
}
body  {
background-color:pink;
background-repeat:no-repeat;
background-size:cover;
overflow:hidden;
}

.container {
display:flex;
float:left;
}
.welcome {
width:40%;
height:100vw;
background-color:rgba(0,0,0,0.7);
color:white;
text-align:center;
}
.welcome > h1 {
padding:50px 20px 5px;
}

input {
background-color:orange;
color:black;
}

